.smaller
    font-size: 0.7em;

section.title
    background-color: #19DADA

 .fullheight img
    height: 720px;

.author
    visibility: hidden;

.git-logo img
    width: 300px;

.toc ol
  line-height: 1.5;
  font-size: 150%;
  padding-left: 560px;
.toc img
  position: absolute;
  top: 100px;
  height: 500px;

.center
    justify-content: center;

aside
    box-shadow: 0 0 6px black;
    font-size: 100%;
    line-height: 1.2em;
    padding: 10px;

    p
        text-align: left;
        margin-bottom: 0px;

section.simplicity-power
    color: black
    font-weight: bold
    p
        text-shadow: 1px 1px #ffff00
    h2
        position: relative
        font-size: 3em
        color: black
        text-shadow: 2px 2px #ffff00

.rainbow-dash-armor img
    height: 200px;

.detached-head img
    height: 300px;

.agent-oso img
    height: 100px;

td.hdlist1
    font-weight: bold;
    padding-left: 10px;
td.hdlist2
    padding: 5px;
    p
        background-color: #eee;
        padding-left: 10px;
        padding-right: 5px;
td p
    margin-bottom: 0px;
tr
    border-style: dashed;

figure.quote blockquote:before
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: 0.6em;
    margin-left: -0.6em;
    color: #7a2717;
    font-family: "Serif",serif;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);

span.source.bash
    font-family: monospace
    font-weight: bold
    background-color: black
    padding-left: 0.2em
    padding-right: 0.2em
    color: #9f9

section.git-merge-b1 > div
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

section.git-rebase-b1 > div
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

section.git-merge-b1 img
    height: 500px;

section.git-rebase-b1 img
    height: 500px;

ul.photo-attribution
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    list-style-position: inside;
    font-size: 90%;

.bespoke-progress-parent
    position: fixed;
    height: 3px;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 10;

.bespoke-progress-bar
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    -ms-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    position: absolute;
    z-index: 1;
    height: 100%;
    background: #0089f3;

aside ul
    margin: 0

.dlist ul, .dlist p
    margin 0

pre.source
    overflow: inherit;

.revids
    font-size: 80%

codeblock(prc)
    &  > pre
        line-height: prc * 1.1
        background-color: black
        color: #9f9
        padding: 0.2em;
        code
            font-size: prc

.generic-codeblock
    codeblock(100%)
    aside
        font-size: 60%

.identify-to-repository
    codeblock(85%)
    aside
        font-size: 60%

.change-file1
    codeblock(80%)

.rename-files
    codeblock(77%)
    pre
        margin: 0

.git-filesystem
    codeblock(72%)
    aside p
        font-size: 60%

.pack-gc
    codeblock(95%)
    aside p
        font-size: 60%

figure.quote blockquote p
    box-shadow: 0 0 1px black;
